/* Light Box */
.LightBox {
  position: fixed;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

.LightBox .img {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
}

.LightBox .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LightBox .close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: -5%;
  right: -5%;
  background-color: #4b0082;
  transition: 0.2s;
}

.LightBox .close:hover {
  background-color: #36005c;
  cursor: pointer;
}

/*  */
/*  */

.bd {
  background-color: #02022b;
  height: 2000px;
}

.navbar-top {
  width: 100vw;
  height: 150px;
  background-color: #19193b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navbar-top .text {
  font-size: 50px;
  text-align: center;
  color: rgb(238, 130, 238, 0.8);
  text-shadow: 0 0 20px rgb(0, 0, 0);
}

.navbar-top .line1 .column1 .link {
  background-color: #4b0082;
  border-radius: 5px;
  width: 300px;
  margin: auto;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.navbar-top .link a {
  border-radius: 5px;
  padding: 7px 0;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#app .gallery {
  position: relative;
  background-color: #19193b;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

#app .gallery .row2 img {
  width: 20%;
  height: 170px;
}

#app .gallery .row2 .container {
  display: flex;
  gap: 5px;
}

#app .location {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  /* Light Box */
  .LightBox .img {
    width: 50%;
    height: 40%;
  }

  .navbar-top {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/img9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }

  .navbar-top .text {
    font-size: 20px;
    text-align: center;
    color: rgb(238, 130, 238, 0.8);
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }

  .navbar-top .line1 .column1 .link {
    border-radius: 5px;
    width: 150px;
    padding: 2px 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .navbar-top .link a {
    text-transform: capitalize;
    padding: 3px 0;
    font-size: 12px;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  #app .gallery .row2 img {
    width: 100%;
    height: 50%;
  }

  #app .gallery .imgLight .jumbo {
    width: 95vw;
    height: 60vh;
  }

  #app .location iframe {
    width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 500px) {
  /* Light Box */
  .LightBox .img {
    width: 80%;
    height: 25%;
  }
}

@media screen and (max-width: 350px) {
  /* Light Box */
  .LightBox .close {
    width: 25px;
    height: 25px;
  }

  #app .location iframe {
    width: 100%;
    height: 200px;
  }
}
